<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quanmin.dao.mapper.AppointOrderMapper">
    <select id="factorQueryList" parameterType="com.quanmin.model.jpapo.AppointOrder" resultType="java.util.HashMap">
        SELECT * FROM appoint_order WHERE 1=1

        <if test="null!=hospitalName and ''!=hospitalName">
            AND hospital_name=#{hospitalName}
        </if>
        <if test="null!=deptName and ''!=deptName">
            AND dept_name=#{deptName}
        </if>
        <if test="null!=period and 0!=period">
            AND period=#{period}
        </if>

        <if test="null!=city and ''!=city">
            AND city=#{city}
        </if>
        <if test="1==lifeType">
            AND life_type=1
            <if test="null!=orderStatus and 0!=orderStatus">
                AND order_status=#{orderStatus}
            </if>
        </if>
        <if test="2==lifeType">
            AND life_type=2
        </if>
        <if test="3==lifeType">
            AND life_type=3
        </if>
        <if test="null!=ext1 and ''!=ext1">
            AND (
            order_no LIKE CONCAT(CONCAT('%',#{ext1}), '%')
            OR
            hospital_name LIKE CONCAT(CONCAT('%',#{ext1}), '%')
            OR
            consultant_name LIKE CONCAT(CONCAT('%',#{ext1}), '%')
            OR
            patient_name LIKE CONCAT(CONCAT('%',#{ext1}), '%')
            OR
            treatment_hospital_address LIKE CONCAT(CONCAT('%',#{ext1}), '%')
            )
        </if>
        ORDER BY update_time DESC


    </select>
</mapper>