<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>demo</display-name>

    <!-- 加载配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring.xml,classpath:spring-mybatis.xml,classpath:spring-redis.xml,classpath:spring-task.xml,classpath:spring-hibernate.xml,classpath:spring-transaction.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <!-- 编码过滤 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- 添加跨域 -->
    <filter>
        <filter-name>SimpleCORSFilter</filter-name>
        <filter-class>com.quanmin.filter.SimpleCORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SimpleCORSFilter</filter-name>
        <url-pattern>/cms/*</url-pattern>
        <url-pattern>/system/*</url-pattern>
        <url-pattern>/common/*</url-pattern>
        <url-pattern>/api/1/findbynumber</url-pattern>
        <url-pattern>/api/1/findbycommodityid</url-pattern>
        <url-pattern>/api/1/cart/addshoppingcart</url-pattern>
        <url-pattern>/api/1/usersaveorcanncelshopcollection</url-pattern>
    </filter-mapping>

    <!-- 添加过滤器 -->
    <filter>
        <filter-name>CommFilter</filter-name>
        <filter-class>com.quanmin.filter.CommFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CommFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<filter>-->
        <!--<filter-name>post-data-dumper-filter</filter-name>-->
        <!--<filter-class>com.quanmin.filter.PostDataDumperFilter </filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>post-data-dumper-filter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!-- 过滤静态资源 -->

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.eot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.otf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.swf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <!-- 配置springmvc -->
    <servlet>
        <description>spring mvc servlet</description>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath:spring-mvc.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- session过期时间 -->
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>


    <!-- web异常页面处理 -->
    <!--<error-page>-->
    <!--<exception-type>java.lang.Throwable</exception-type>-->
    <!--<location>/error_500</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<exception-type>java.lang.Exception</exception-type>-->
    <!--<location>/error_404</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>500</error-code>-->
    <!--<location>/error_500</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>501</error-code>-->
    <!--<location>/error_500</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>502</error-code>-->
    <!--<location>/error_500</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>404</error-code>-->
    <!--<location>/error_404</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>403</error-code>-->
    <!--<location>/error_404</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
    <!--<error-code>400</error-code>-->
    <!--<location>/error_404</location>-->
    <!--</error-page>-->


    <!--	<welcome-file-list>
            <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>-->

</web-app>